@model List<Model.EF.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var listNewProducts = (List<Model.EF.Product>)ViewBag.NewProducts;
    var listFeatureProducts = (List<Model.EF.Product>)ViewBag.ListFeatureProducts;
    var listsaleProduct = (List<Model.EF.Product>)ViewBag.listSaleProduct;
}

<section class="page-shop-slidebar" style="padding-top: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3">
                <img src="~/Asset/User/image/637660206626955378_F-H1_800x300.jpg" alt="product1" class="img-responsive" />
                <h3 style="font-size: 18px;font-weight: bold;margin-top: 30px;margin-bottom: 10px">TẤT CẢ SẢN PHẨM</h3>
                <div class="box-fitter clearfix">
                    <div class="box-fitter-left">
                        <ul>
                            <li style="margin-right: 5px">
                                <a href="ProductGrid.html">
                                    <div><i class="la la-th-large"></i></div>
                                </a>
                            </li>
                            <li class="active">
                                <a href="ProductGroup.html">
                                    <div><i class="la la-list-ul"></i></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="box-fitter-right">
                        <ul>
                            <li>Sort by:</li>
                            <li>
                                <div class="dropdown filterDrop">
                                    <a class=" dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Alphabetically, A-Z
                                        <span class="fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">USD</a></li>
                                        <li><a href="#">VND</a></li>
                                        <li><a href="#">EURO</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">

                    @foreach (var item in listNewProducts)
                    {

                        var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                        <div class="col-md-4">
                            <div class="productG ">
                                <div class="sizeImg" style="width: 100%;float: none">
                                    <img src="@item.Image" alt="@item.Name" class="img-responsive" />
                                    <div class="arrIcon"></div>
                                    <div class="box-posi">NEW</div>
                                    <div class="arrIcon2">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="la la-shopping-cart"></i>
                                                </a>
                                            </li>
                                            <li style="margin-left: 6px;margin-right: 6px;">
                                                <a href="@url">
                                                    <i class="la la-eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="la la-heart-o"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sizeImgCalc" style="width: 100%;float: none;padding-left: 0;padding-bottom: 7px;">
                                    <h3>@item.Name</h3>
                                    <h4>@item.Price</h4>

                                </div>
                            </div>
                        </div>
                    }


                </div>

                
            </div>
            <div class="col-md-3 col-md-pull-9">

                <div class=" slideSort">
                    <h3 class="slider-left-title">Danh mục</h3>
                    <ul class="slide-left-list">
                        @{Html.RenderAction("ProductCategory", "Product");}
                    </ul>
                </div>
                <div class="lineAbout" style="width: 100%;height: 1px"></div>
                <div class=" slideSort">
                    <h3 class="slider-left-title">Các sản phẩm</h3>
                    <ul class="slide-left-list">
                        <li><a href="/Product/Index">Sản phẩm phổ Hot</a></li>
                        <li><a href="/Product/Index">Sản phẩm phổ biến</a></li>
                        <li><a href="/Product/Index">Sản phẩm Hot</a></li>
                        <li><a href="/Product/Index">Sảm phẩm Sales</a></li>


                    </ul>
                </div>
                <div class="lineAbout" style="width: 100%;height: 1px"></div>



                <div class="box-slider-left slideNewproduct slideNewproduct2">
                    <h3 class="slider-left-title">Best sellers</h3>
                    @foreach (var item in listsaleProduct)
                    {
                        var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                        <div class="box-slideNewproduct">
                            <div class="slideNewproduct-item slideNewproduct-img">
                                <a href="@url">
                                    <img src="@item.Image" alt="product1"
                                         class="img-responsive" />
                                </a>
                            </div>
                            <div class="slideNewproduct-item slideNewproduct-text">
                                <h5><a href="@url">@item.Name</a></h5>
                                <p class="slideProduct-price">@item.Price</p>
                            </div>
                        </div>

                    }
                </div>

            </div>
        </div>
    </div>

</section>
