@model Model.EF.ProductCategory

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Chi tiết tin tức</h6>
    </div>
    <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MetaTitle)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MetaTitle)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ParentID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ParentID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DisplayOrder)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DisplayOrder)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SeoTitle)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SeoTitle)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreateDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreateBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreateBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MetaKeywords)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MetaKeywords)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MetaDescriptions)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MetaDescriptions)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ShowOnHome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ShowOnHome)
                    </dd>

                </dl>
            </div>
        </div>
  



<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
